<div class="columns is-multiline pl-2">
  <!-- First Image -->
  <div class="column is-one-third">
    <div class="box has-background-dark mb-4">
      <figure class="image">
        <img src="/images/homepage1.png" alt="Travel Image 1">
      </figure>
    </div>
  </div>
  <!-- Second Image -->
  <div class="column is-one-third">
    <div class="box has-background-dark mb-4">
      <figure class="image">
        <img src="/images/homepage2.avif" alt="Travel Image 2">
      </figure>
    </div>
  </div>
  <!-- Third Image -->
  <div class="column is-one-third">
    <div class="box has-background-dark mb-4">
      <figure class="image">
        <img src="/images/homepage3.avif" alt="Travel Image 3">
      </figure>
    </div>
  </div>
  <!-- Fourth Image -->
  <div class="column is-one-third">
    <div class="box has-background-dark mb-4">
      <figure class="image">
        <img src="homepage4.avif" alt="Travel Image 4">
      </figure>
    </div>
  </div>
  <!-- Fifth Image -->
  <div class="column is-one-third">
    <div class="box has-background-dark mb-4">
      <figure class="image">
        <img src="/images/homepage5.avif" alt="Travel Image 5">
      </figure>
    </div>
  </div>
  <!-- Sixth Image -->
  <div class="column is-one-third">
    <div class="box has-background-dark mb-4">
      <figure class="image">
        <img src="/images/Travelbook-Main.png" alt="Travel Image 6">
      </figure>
    </div>
  </div>
</div>
