<div class="columns is-centered mt-4">
  <div class="column is-4">
    <div class="box has-background-dark has-text-white" style="border: 2px solid hsl(171, 100%, 41%);">
      <h2 class="title has-text-centered has-text-white">Login</h2>

      <form class="form login-form">
        <div class="field">
          <label class="label has-text-white">Email</label>
          <div class="control">
            <input class="input is-rounded" type="email" id="email-login" placeholder="Enter your email">
          </div>
        </div>
        <div class="field">
          <label class="label has-text-white">Password</label>
          <div class="control">
            <input class="input is-rounded" type="password" id="password-login" placeholder="Enter your password">
          </div>
        </div>
        <div class="field mt-5">
          <div class="control">
            <button class="button is-primary is-fullwidth" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

